abjad
abjad[ipython]
abjad[development]
abjad[book]
abjad[cli]
abjad[nauert]
abjad[rmakers]
abjad[tonality]
music21
jupyter
matplotlib
numpy
scipy
jupyterthemes
pandas
qgrid
RISE
jupyter_contrib_nbextensions
ipywidgets
pyautogui
bs4